/*
|--------------------------------------------------------------------------
| Init
|--------------------------------------------------------------------------
*/

.gmaps{
  overflow: hidden;
  .marker{
    visibility: hidden;
  }
}

/*
|--------------------------------------------------------------------------
| Custom
|--------------------------------------------------------------------------
*/

.googlemap{
  
  position: relative;

  .googlemap-overview{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;

    *{
      box-sizing: border-box;
    }

    .bubble{

      background-color: #fff;
      color: #333;
      border-radius: 3px;
      box-shadow: 3px 3px 3px rgba(black,.1);
      font-size: 14px;

      &.is-load{
        visibility: visible;
        animation: fadeIn .5s .5s ease-in-out both;
      }

      .bubble-container{
        
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
        padding: 15px 20px 0;

        .bubble-container-overview{
          width: 100% !important;

          h1, h2, h3, h4, h5, h6{
            margin: 0;
            margin-bottom: 10px;
          }

          p, span{
            margin: 0;
            line-height: 1.5;
            margin-bottom: 5px;
            &:last-child{
              margin-bottom: 0;
            }
          }

        }

      }

      .bubble-close{
        
        //background-color: red;
        position: absolute;
        width: 15px;
        height: 15px;
        opacity: 1;
        z-index: 999;
        right: 10px;
        top: 10px;
        cursor: pointer;
        opacity: 1 !important;

        &:after, &:before{
          width: 100%;
          height: 2px;
          display: block;
          content: '';
          background-color: #333;
          position: absolute;
          top: 45%;
        }

        &:after{
          transform: rotate(45deg);
        }

        &:before{
          transform: rotate(-45deg);
        }

        &:hover{
          opacity: 1 !important;
        }

      }

    }

  }

  &.googlemap-load .googlemap-overview{
    visibility: visible;
    animation: fadeIn .5s .5s ease-in-out both;
  }

}

/*
|--------------------------------------------------------------------------
| Themes
|--------------------------------------------------------------------------
*/

/*  Black */

.googlemap{
  &.gmaps-style-black{
    .googlemap-overview{
      .bubble{
        background-color: #222;
        .bubble-container{
          .bubble-container-overview{
          }
        }
        .bubble-close{
          &:before, &:after{
            background-color: white;
          }
        }
      }
    }
  }
}

/*  Green */

.googlemap{
  &.gmaps-style-black{
    .googlemap-overview{
      .bubble{
        background-color: #222;
        .bubble-container{
          .bubble-container-overview{
            color: white;
          }
        }
        .bubble-close{
          &:before, &:after{
            background-color: white;
          }
        }
      }
    }
  }
}

/*
|--------------------------------------------------------------------------
| Animations
|--------------------------------------------------------------------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}